#submission{
    padding: 20px;
    background-color: #BFD8BF;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}
h3{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.sean_sketches,.kelly_sketches,.rachel_sketches, .thomas_sketches{
    display: flex;
}
.col{
    flex:33.33%;
    padding: 5px;
    justify-content: space-evenly;
}

.sketch-gallery{
    max-width: 30vw;
    padding: 12px;
}
