#submission{
    padding: 20px;
    background-color: #BFD8BF;
}


h3{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.sean_sketches,.kelly_sketches,.rachel_sketches, .thomas_sketches,
 .students, .tutors, .parents, .videos{
    display: flex;
}
.col{
    flex:33.33%;
    padding: 5px;
    justify-content: space-evenly;
}

.colHalf{
    flex: 50%;
    padding: 5px;
    justify-content: space-evenly;
}

.image-gallery{
    width: 35rem;
    
    padding: 12px;
}

.caption{
    font-style: italic;
    padding: 0 12px 20px 12px;
}
